# ESP RainMaker Config
CONFIG_ESP_RMAKER_ASSISTED_CLAIM=y

CONFIG_FREERTOS_PLACE_FUNCTIONS_INTO_FLASH=y
CONFIG_FREERTOS_PLACE_SNAPSHOT_FUNS_INTO_FLASH=y
CONFIG_RINGBUF_PLACE_FUNCTIONS_INTO_FLASH=y

CONFIG_COMPILER_OPTIMIZATION_SIZE=y
