menu "ESP Wi-Fi Mesh Lite"
    config MESH_LITE_ENABLE
        bool "Enable Mesh-Lite"
        default n
        select BRIDGE_STATION_CANCEL_AUTO_CONNECT_WHEN_DISCONNECTED
        depends on BRIDGE_DATA_FORWARDING_NETIF_SOFTAP
        help
            Enable Mesh-Lite

    menu "Mesh-Lite info configuration"
        depends on MESH_LITE_ENABLE
        config MESH_LITE_VENDOR_ID_0
            int "VENDOR_ID_0 for Mesh-Lite"
            default 71

        config MESH_LITE_VENDOR_ID_1
            int "VENDOR_ID_1 for Mesh-Lite"
            default 87

        config MESH_LITE_ID
            int "MESH_ID for Mesh-Lite"
            default 77

        config MESH_LITE_MAX_ROUTER_NUMBER
            int "Maximum number of trace router number"
            default 3
            range 1 5

        config MESH_LITE_MAXIMUM_LEVEL_ALLOWED
            int "The maximum level allowed"
            default 5
            range 1 15

        config MESH_LITE_NODE_INFO_REPORT
            bool "Enable node info report"
            default n
            help
                Sub-nodes report information regularly,
                and the root node collects and summarizes the mesh nodes information.

        config MESH_LITE_REPORT_INTERVAL
            depends on MESH_LITE_NODE_INFO_REPORT
            int "Report time interval(s)"
            default 300

        config MESH_LITE_MAXIMUM_NODE_NUMBER
            depends on MESH_LITE_NODE_INFO_REPORT
            int "The maximum node number"
            default 50
            range 1 200

        config JOIN_MESH_WITHOUT_CONFIGURED_WIFI_INFO
            bool "Join Mesh without configured with information"
            default y
            help
                Join the mesh network directly when starting up, regardless of whether Wi-Fi information is configured or not.
                If disabled, it will only join the mesh network after configuring Wi-Fi information.

        config JOIN_MESH_IGNORE_ROUTER_STATUS
            bool "Join Mesh no matter whether the node is connected to router"
            default n
            help
                If enabled, it will join Mesh no matter whether the node is connected to router

        config LEAF_NODE
            bool "Configure the node as a leaf node"
            default n

        config DEVICE_CATEGORY
                string "Device Category"
                default "ESP32"
                help
                    The device category, such as Light, Fun.
    endmenu

    config ESP_MESH_LITE_OTA_ENABLE
        bool "Enable Mesh-Lite OTA"
        default n
        help
            Enable Mesh-Lite OTA,
            When the device receives an OTA instruction, it will first request new firmware from the parent node,
            if the parent node does not have one, it will continue to request from a higher-level node, and so on up to the root node,
            if the root node also does not have the corresponding version firmware, then the upgrade will begin from the external URL.

    menu "Mesh-Lite OTA"
        depends on ESP_MESH_LITE_OTA_ENABLE
        config OTA_DATA_LEN
            int "Transmission data length of each packet"
            default 1376
            range 512 1376
            help
                Setting a smaller default OTA_DATA_LEN size can save some RAM,
                but the time spent by OTA will increase.

        config OTA_WND_DEFAULT
            int "Default receive window size"
            default 8256
            range OTA_DATA_LEN 8256
            help
                Must be a multiple of OTA_data_Len

        config OTA_AUTO_RESTART
            bool "After OTA successfully, chip restarts automatically"
            default y

        config OTA_AUTO_CANCEL_ROLLBACK
            bool "After OTA successfully, cancel the rollback automatically"
            default y
    endmenu

    config MESH_LITE_PROV_ENABLE
        bool "Enable Mesh-Lite Provisioning"
        default n
        help
            Enable Mesh-Lite Provisioning

    menu "Mesh Lite Wi-Fi Provisioning Configuration"
        depends on MESH_LITE_PROV_ENABLE
        choice MESH_LITE_PROV_TRANSPORT
            bool "Provisioning Transport"
            default MESH_LITE_PROV_TRANSPORT_BLE
            help
                Wi-Fi provisioning component offers both, SoftAP and BLE transports. Choose any one.

            config MESH_LITE_PROV_TRANSPORT_SOFTAP
                bool "SoftAP"

            config MESH_LITE_PROV_TRANSPORT_BLE
                bool "BLE"
                select BT_ENABLED
                depends on !IDF_TARGET_ESP32S2
        endchoice

        choice PROV_SECURITY_VERSION
            bool "Protocomm security version"
            default PROV_SECURITY_VERSION_2
            help
                Wi-Fi provisioning component offers 3 security versions.
                The component offers a choice between security version 1 and 2.

            config PROV_SECURITY_VERSION_1
                bool "Security version 1"
                select ESP_PROTOCOMM_SUPPORT_SECURITY_VERSION_1

            config PROV_SECURITY_VERSION_2
                bool "Security version 2"
                select ESP_PROTOCOMM_SUPPORT_SECURITY_VERSION_2
        endchoice

        choice PROV_MODE
            bool "Security version 2 mode"
            depends on PROV_SECURITY_VERSION_2
            default PROV_SEC2_DEV_MODE

            config PROV_SEC2_DEV_MODE
                bool "Security version 2 development mode"
                depends on PROV_SECURITY_VERSION_2
                help
                    This enables the development mode for security version 2.
                    Please note that this mode is NOT recommended for production purpose.

            config PROV_SEC2_PROD_MODE
                bool "Security version 2 production mode"
                depends on PROV_SECURITY_VERSION_2
                help
                    This enables the production mode for security version 2.
        endchoice

        config MESH_LITE_PROV_TRANSPORT
            int
            default 1 if MESH_LITE_PROV_TRANSPORT_BLE

        config PROV_RESET_PROVISIONED
            bool
            default n
            prompt "Reset provisioned status of the device"
            help
                This erases the NVS to reset provisioned status of the device on every reboot.
                Provisioned status is determined by the Wi-Fi STA configuration, saved on the NVS.

        config PROV_RESET_PROV_MGR_ON_FAILURE
            bool
            default y
            prompt "Reset provisioned credentials and state machine after session failure"
            help
                Enable reseting provisioned credentials and state machine after session failure.
                This will restart the provisioning service after retries are exhausted.

        config PROV_MGR_MAX_RETRY_CNT
            int
            default 5
            prompt "Max retries before reseting provisioning state machine"
            depends on PROV_RESET_PROV_MGR_ON_FAILURE
            help
                Set the Maximum retry to avoid reconnecting to an inexistent AP or if credentials
                are misconfigured. Provisioned credentials are erased and internal state machine
                is reset after this threshold is reached.

        config PROV_RELEASE_BLE_MEMORY_AFTER_PROVISIONED
            bool "Release BLE memory after provisioned"
            default y
            help
                If this option is enabled, it will release the BLE memory for other usage,
                but you can not perform Wi-Fi provision again until the device restarts.
                If you need to perform Wi-Fi provision multiple times without restarting the device, please disable this configuration.

        config PROV_SHOW_QR
            bool "Show provisioning QR code"
            default y
            help
                Show the QR code for provisioning.

        config PROV_USING_BLUEDROID
            bool
            depends on (BT_BLUEDROID_ENABLED && (IDF_TARGET_ESP32C3 || IDF_TARGET_ESP32S3))
            select BT_BLE_42_FEATURES_SUPPORTED
            default y
            help
                This enables BLE 4.2 features for Bluedroid.

        config DEFAULT_SSID_PREFIX
            string "Default SSID Prefix"
            default "Mesh_Lite"
            help
                The default SSID prefix used for the device.
                This will be used to form the SoftAP SSID with the device's MAC address.

        config PROV_TIMEOUT_SECONDS
            int "Provisioning timeout in seconds"
            default 300
            help
                The time in seconds for which the device will wait for provisioning to complete.
                If the device is not provisioned within this time, the device will exit provisioning mode.

        config CUSTOMER_DATA_LENGTH
            int "Customer data length"
            default 40

        config DEVICE_INFO_LENGTH
            int "Device information length"
            default 40

        config ZERO_PROV_LISTENING_TIMEOUT
            int "Zero Provisioning listening timeout"
            default 360
    endmenu

    config MESH_LITE_WIRELESS_DEBUG
        bool "Enabel Wireless Debug"
        default n

endmenu
